body{
  background-image: url("images/background.gif");
}

nav{
  float: left;
  width: 200px;
  padding: 5px;
  background-color: #eeeeee;
}

main{
  margin-left: auto;
  margin-right: auto;

}

footer{
  font-style: italic;
  text-align: right;
  padding-top: 15%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
